*,
::after,
::before{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body{

    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    /* height: 100vh; */
}

.container{
    width: 100%;
    height:100%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
}

.card--section{
    background-image: url(../images/bg-main-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 15rem;
    max-width: 100%;
    padding: 1rem;
}

.card--front,.card--back{
    position: absolute;
    max-width: 18rem;
    width: 18rem;
    margin-left: auto;
    margin-right: auto;

}

.card--front{
    top:7rem;
    z-index: 2;
}
.card--back{
    top:1.5rem;
    left: 4.5rem;
}

.card--front--img,.card--back--img{
    max-width: 100%;
    max-height: 100%;
}

.card--front--logo,.numberholder,
.nameholder,.dateholder,.cvcholder{
    position: absolute;
}

.card--front--logo{
    top:1rem;
    left:1rem;
}

.numberholder{
    top: 5.5rem;
    left: 1.2rem;
    color:hsl(0, 0%, 100%);
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

.nameholder{
    top:8rem;
    left:1.2rem;
    color:hsl(0, 0%, 100%);
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.dateholder{
    top:8rem;
    left: 14rem;
    color:hsl(0, 0%, 100%);
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}

.cvcholder{
    top:4.5rem;
    left:14.5rem;
    font-size: 0.55rem;
    color:hsl(0, 0%, 100%);
}


.form--section{
    margin-top: 5rem;
    padding:1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input[type=text]:focus{
    border:1px solid transparent;
    outline: none;
    -moz-border-image: -moz-linear-gradient(left, hsl(249, 99%, 64%) 0%, hsl(278, 94%, 30%) 100%);
	-webkit-border-image: -webkit-linear-gradient(left, hsl(249, 99%, 64%) 0%, hsl(278, 94%, 30%) 100%);
	border-image: linear-gradient(to right, hsl(249, 99%, 64%) 0%, hsl(278, 94%, 30%) 100%);
    border-image-slice: 1;
}

input::placeholder{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    opacity: 0.4;
}

label{
    display: block;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.grid-inputs{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 2fr;
    
}

#expdate--label{
    grid-column: span 2;
}

#number-error{
    /* display: none; */
    color: hsl(0, 100%, 66%);
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

#expiry-error{
    /* display: none; */
    grid-column: span 2;
    color: hsl(0, 100%, 66%);
    font-size: 0.7rem;
}

#cvc-error{
    /* display: none; */
    color: hsl(0, 100%, 66%);
    font-size: 0.7rem;
}

.submitbutton{
    padding:10px 20px;
    width:100%;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    margin-top: 1rem;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}


.blank{
    display:none;
}

.flex{
    display: flex;
}

.thanks{
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    font-family: inherit;
}
.thanks__heading{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.5rem;
}
.thanks__message{
    color:hsl(279, 6%, 55%);
}
.thanks__continuebutton{
    padding:10px 20px;
    width:100%;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    margin-top: 1rem;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}




@media screen and (min-width:1100px) {
    .container{
        flex-direction: row;
    }
    .card--section{
        width: 35%;
        min-height: 100vh;
    }
    .form--section{
        padding:12%;
        max-width:50%;
        margin: auto;

    }
    .card--section{
        background-image: url(../images/bg-main-desktop.png);
    }

    .card--front{
        left:60%;
        scale: 1.25;
    }
    .card--back{
        top:50%;
        left:70%;
        scale: 1.25;
        margin-top: 2rem;
    }
}